<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מצבי חירום נוירולוגים</title>
    <link rel="stylesheet" href="/css/cours/quiz.css">
</head>
<body dir="rtl">
    <div class="alertBack" id="alertBox">
        <div class="alert">
            <h3 class="alertTitle">ענית לא נכון מספר פעמים, עלייך לחזור שוב על השיעור</h3>
            <button class="Button" id="alert" onclick="location.href='/cours/lesson3'">התחל מחדש</button>
        </div>  
    </div>
    <h1 class="Title">מצבי חירום נוירולוגים / שאלות</h1>
    <div class="video">
        <h1>בזמן בדיקת רופא במרפאה חולה מתחיל לפרכס, מה עליך לעשות?</h1>
        <div class="options">
            <div>
                <input type="radio" id="option1" class="inputs" name="fav_language" value="option1">
                <label class="inputName" for="option1">לאחוז את החולה ולמנוע את הפרכוס</label>
            </div>
            <div>
                <input type="radio" id="option2" class="inputs" name="fav_language" value="option2">
                <label class="inputName" for="option2">יש לבצע אינטובציה מוקדם ככל האפשר כדי לאפשר נתיב אוויר פתוח</label>
            </div>
            <div>
                <input type="radio" id="option3" class="inputs" name="fav_language" value="option3">
                <label class="inputName" for="option3">יש לקרוא לעזרה ולהמתין עד הגעת האמבולנס</label>
            </div>
            <div>
                <input type="radio" id="option4" class="inputs" name="fav_language" value="option4">
                <label class="inputName" for="option4">יש לרפד את הראש ולקדם את עגלת ההחייאה ולקרוא לרופא לטובת טיפול תרופתי</label>
            </div>
        </div>
        <button class="Button" id="chack">בדוק</button><br/>
        <a style="color: red; display: none;" id="tryAgin">נסה שוב..</a>
    </div>
    <script>
        const button = document.querySelector('#chack');
        let rongA = 0;
        button.addEventListener("click", () => {
            if (document.getElementById("option4").checked == true) {
               location.href='/cours/quiz10'
            } else {
                document.getElementById("tryAgin").style.display = 'block'
                rongA++;
                if(rongA >= 2) {
                    document.getElementById("alertBox").style.display = 'flex'
                    rongA = 0
                }
            }
        })
    </script>
</body>
</html>