<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>תנאים והתחלה</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/cours/start.css">
</head>
<body dir="rtl">
    <div class="bodyStart">
        <div class="bodyBox">
            <h1 class="Title">קורס A-BLS</h1>
            <p class="Therms">
                ברוכים הבאים לקורס החייאה מתקדמת של פדיקר,<br>
                לפניכם לומדת <b>חובה!</b> שעליכם להשלים בהתאם לתנאי הקורס,<br>
                הלומדה כוללת 4 שיעורים באורך של 6-20 דקות שעליכם ללמוד,<br>
                יש לצפות בסרטונים מהתחלתם ועד סופם, <br>
                והסרטונים ישארו זמינים לכם לכל אורך הקורס לצפיה מחודשת<br>
                <b>מומלץ מאוד להקשיב ללומדה עם סאונד כדי לקבל את החוויה המלאה!</b><br>
                בהצלחה!!!
                
            </p>
            <button class="Button" onclick="location.href='/cours/lesson1'">התחל ללמוד</button>
        </div>
    </div>
</body>
</html>