<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>הקורסים שלי</title>
    <link rel="stylesheet" href="/css/mycourses.css">
    <link rel="stylesheet" href="/css/coursBOx.css">
</head>
<body dir="rtl">
    <h1 class="Title">היי , הקורסים שלך:</h1>
    <div class="courses">
        <div class="coursBox">
            <div class="imageBox">
                <img class="image" src="/css/images/firstAidCours.jpg">
            </div>
            <div class="coursTitleBox">
                <h1 class="coursName">קורס BLS מתקדם</h1>
                <p class="coursDes">קורס החייאה בסיסית לצוות הרפואי</p>
            </div>
            <div class="coursActions">
                <button class="coursButton" onclick="location.href='/cours/start'">התחל למידה</button>
            </div>
        </div>
    </div>
</body>
</html>